:root {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);

  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'NotoSans';
  src: url('./assets/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('./assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

body {
  font-weight: 400;
  font-family: 'NotoSans', sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: var(--light-gradient);
  background: center / cover no-repeat;
  transition: background-image 300ms linear;
}

.dark body {
  background-image: var(--dark-gradient);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: 'NotoSans', sans-serif;
  outline: none;
  color: var(--neutral-100);
  background-color: var(--neutral-700);
  font-size: 16px;
  padding: 8px 16px;
  border: 1px solid var(--neutral-600);
  border-radius: 50px;
  cursor: pointer;
}

button.active {
  background-color: var(--red-400);
  color: var(--neutral-900);
  font-weight: 500;
  border-color: var(--red-400);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
